* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: rgb(210, 210, 210);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  padding: 10px;
  color: white;
}